<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)"> 
    <div class="pages-body login-page flex flex-column">
        <div class="align-self-center mt-auto mb-auto">
            <div class="pages-panel card flex flex-column">
                <div class="pages-header px-3 py-1">
                    <h2>GİRİŞ</h2>
                </div>
    
                <h4>Hoşgeldiniz</h4>
    
                <div class="pages-detail mb-6 px-6">Oturum açmak için lütfen formu kullanın</div>
             
                    <div class="input-panel flex flex-column px-3">
                   
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <span class="p-float-label">
                                <input #KullaniciAdi="ngModel" name="KullaniciAdi" type="text" id="KullaniciAdi" [(ngModel)]="formModel.KullaniciAdi" required pInputText>
                                <label for="kullaniciAdi">Kullanıcı Adı</label>
                            </span>
                        </div>
        
                        <div class="p-inputgroup mt-3 mb-6">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-lock"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="password" id="sifre" #Sifre="ngModel" name="Sifre" [(ngModel)]="formModel.Sifre" required pInputText>
                                <label for="sifre">Şifre</label>
                            </span>
                        </div>
                    </div>
                <p-button class="login-button mb-1 px-3" type="submit" label="Giriş Yap"  [disabled]="form.invalid"></p-button>
                <p-button class="login-button mb-6 px-3" (click)="onRegister()" label="Kayıt Ol"></p-button>
            </div>
        </div>
    </div>
</form>